<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JapaneseEraClassLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <JapaneseEraClassLibrary.Properties.Settings>
            <setting name="JapaneseEraTable" serializeAs="String">
                <value>
                  {
                  "JapaneseEraTable":[
                  {"startDate":"2019-05-01","Name":"元新","EnglishName":"Genshin"},
                  {"startDate":"1989-01-08","Name":"平成","EnglishName":"Heisei"},
                  {"startDate":"1926-12-25","Name":"昭和","EnglishName":"Showa"},
                  {"startDate":"1912-07-30","Name":"大正","EnglishName":"Taisho"},
                  {"startDate":"1868-01-25","Name":"明治","EnglishName":"Meiji"}
                  ]
                  }
                </value>
            </setting>
        </JapaneseEraClassLibrary.Properties.Settings>
    </userSettings>
</configuration>